In [1]:
# Import Packages
import os
import h5py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import copy
from datetime import datetime, date

In [2]:
# Change Directory
import os
os.chdir('swe_data/')
os.listdir()

['SN_SWE_WY1985.h5',
 'SN_SWE_WY1986.h5',
 'SN_SWE_WY1987.h5',
 'SN_SWE_WY1988.h5',
 'SN_SWE_WY1989.h5',
 'SN_SWE_WY1990.h5',
 'SN_SWE_WY1991.h5',
 'SN_SWE_WY1992.h5',
 'SN_SWE_WY1993.h5',
 'SN_SWE_WY1994.h5',
 'SN_SWE_WY1995.h5',
 'SN_SWE_WY1996.h5',
 'SN_SWE_WY1997.h5',
 'SN_SWE_WY1998.h5',
 'SN_SWE_WY1999.h5',
 'SN_SWE_WY2000.h5',
 'SN_SWE_WY2001.h5',
 'SN_SWE_WY2002.h5',
 'SN_SWE_WY2003.h5',
 'SN_SWE_WY2004.h5',
 'SN_SWE_WY2005.h5',
 'SN_SWE_WY2006.h5',
 'SN_SWE_WY2007.h5',
 'SN_SWE_WY2008.h5',
 'SN_SWE_WY2009.h5',
 'SN_SWE_WY2010.h5',
 'SN_SWE_WY2011.h5',
 'SN_SWE_WY2012.h5',
 'SN_SWE_WY2013.h5',
 'SN_SWE_WY2014.h5',
 'SN_SWE_WY2015.h5',
 'SN_SWE_WY2016.h5']

## Objective: Join Time Series Discharge & SWE
1. Test joining on single gage

2. Table Joining Pipeline on all gages

### Function Used in Later Code

In [3]:
### 2. Function for Extracting Index
def index_finder(lon,lat):
    # Longtitude finder
    if lon < -123.3 or lon > -117.6:
        print('Longitude of Input is out of range! lon:',lon)
        return None
    elif lat < 35.4 or lat > 42:
        print('Latitude of Input is out of range! lat:',lat)
    else: #longtitude and latitude are within reasonable range
        lon_idx = round((lon + 123.3) * 1000)
        lat_idx = round((lat - 35.4) * 1000)
    
        return int(lon_idx),int(lat_idx)

## 1. Test Joining on Single Gage

### Read Data

In [14]:
# Discharge Data
gage = pd.read_csv('../gage_discharge_lat_lon.csv')

# Create Features & assign initial values with -1
gage['swe_avg'] = -1
gage['swe_min'] = -1
gage['swe_max'] = -1

In [15]:
gage.head()

,time,ft,m3,gage,ll_lon,ll_lat,tr_lon,tr_lat,swe_avg,swe_min,swe_max
0,1984-10-01,54.0,1.529110,11402000,-121.157675,39.855478,-120.690823,40.049659,-1,-1,-1
1,1984-10-02,52.0,1.472476,11402000,-121.157675,39.855478,-120.690823,40.049659,-1,-1,-1
2,1984-10-03,49.0,1.387525,11402000,-121.157675,39.855478,-120.690823,40.049659,-1,-1,-1
3,1984-10-04,49.0,1.387525,11402000,-121.157675,39.855478,-120.690823,40.049659,-1,-1,-1
4,1984-10-05,48.0,1.359209,11402000,-121.157675,39.855478,-120.690823,40.049659,-1,-1,-1

In [16]:
# Variable Defining
prev_year = 0

In [17]:
### 
for row_num in range(len(gage)):
    row_data = gage.iloc[row_num,:]
    row_time = row_data['time']
    if row_time[0:4] == '2015' and row_data['gage']==11189500:
        break

In [18]:
row_data

time       2015-01-01
ft               9.96
m3           0.282036
gage         11189500
ll_lon       -118.384
ll_lat        35.7286
tr_lon       -118.004
tr_lat        36.4378
swe_avg            -1
swe_min            -1
swe_max            -1
Name: 81905, dtype: object

In [19]:
### Extract Date from Gage Data to match SWE
date_format = "%Y-%m-%d"
d_date = datetime.strptime(row_time, date_format)

# Extract year of date
d_year = d_date.year
# Extract number of days from SWE Data
num_days = d_date- datetime.strptime('{}-1-1'.format(d_year),date_format)
num_days = num_days.days

print(f'Year: {d_year}  Day: {num_days}')

Year: 2015  Day: 0

In [20]:
## Obtain swe data
# if year of previous row does not match year of current row. Then Read Data
if prev_year != d_year: 
    swe = h5py.File(f'SN_SWE_WY{d_year}.h5', 'r')
    # # testing purpose
    # swe = h5py.File('/Users/apple/Desktop/UC_Berkeley/UCB_2022/w210/data/SN_SWE_WY1985.h5','r')
    lat = swe['lat'][0][::-1]
    lon = swe['lon'][:,0]
    lats,lons = np.meshgrid(lat,lon)
prev_year = d_year

swe_data = swe['SWE'][num_days]
# flip over yaxis as lats are in a descending order --> need to change to ascending order
swe_data_flip = swe_data[:,::-1]

#### Find SWE Interested Region with Lat Lon

In [21]:
### 4. Find closest idx to the lower left & upper right corner
ll_lon_idx,ll_lat_idx = index_finder(row_data['ll_lon'],row_data['ll_lat'])
tr_lon_idx,tr_lat_idx = index_finder(row_data['tr_lon'],row_data['tr_lat'])
region = swe_data_flip[ll_lon_idx:tr_lon_idx,ll_lat_idx:tr_lat_idx]

# # Get SWE values of surrounding gage regions
# lon_idx,lat_idx = index_finder(row_data['lon'],row_data['lat'])
# lon_idx,lat_idx = int(lon_idx),int(lat_idx)
# region = swe_data_flip[lon_idx-sur:lon_idx+sur,lat_idx-sur:lat_idx+sur]

In [22]:
# Print Shape of array
print('Region Shape:',region.shape)
# Print 
print('Unique Value:',np.unique(region,return_counts=True))
region

Region Shape: (380, 709)
Unique Value: (array([-32768,      0], dtype=int16), array([ 39327, 230093], dtype=int64))

array([[-32768, -32768, -32768, ...,      0,      0,      0],
       [-32768, -32768, -32768, ...,      0,      0,      0],
       [-32768, -32768, -32768, ...,      0,      0,      0],
       ...,
       [     0,      0,      0, ..., -32768, -32768, -32768],
       [     0,      0,      0, ..., -32768, -32768, -32768],
       [-32768, -32768,      0, ..., -32768, -32768, -32768]], dtype=int16)

In [ ]:
'''
 ---- OLD COORDINATES ---
Gage with swe values: 11266500 
Gage with no swe values: 11402000, 11318500,11208000
Gage with certain swe values: 11185500
Gage with limited swe values: 11189500, 11202710
Note: Gage 11202710 starts from 1988 while others start from 1985

 ---- SWE on NEW COORDINATES (10/15) ----
 11202710: 40,904 valid & 6616 n/a values from region of 198x240 array
 11266500: 126,687 valid & 2784 n/a values from region of 419x309 array
 11402000: 36,414 valid & 54,651 n/a values from region of 467x195 array
 11318500: 9510 valid & 29072 n/a values from region of 382x101 array
 11208000: 29,403 valid & 3461 n/a values from region of 208x158 array
 11185500: 348,392 valid & 21336 n/a values from region of 436x848 array
 11189500: 230,093 valid & 39327 n/a values from region of 380x709 array
 --------------------------------------------------
'''

### Obtain Region of Interest

In [ ]:
# change null values to null
region=region.astype('float')
region[region == -32768] = np.nan

region_avg = np.nanmean(region)

if region_avg == np.nan:
    gage.loc[row_num,'swe_avg'] = -1
else: # region avg is not null
    gage.loc[row_num,'swe_avg'] = region_avg

# Pipeline: Data Joining Between Gage Time Series Data & SWE Value
- matching swe data to the gage time series data based on lat & lon of the gage
- **main code**

In [32]:
class gage_swe_join():
    def __init__(self):
        self.prev_year = 0
        self.date_format =  "%Y-%m-%d"
        
    def extract_swe_day_and_data(self,row_time):
        '''
        Objective:
            1. Obtain the year of the interested date
            2. Obtain the day of the year
            3. Extracted SWE data of the same date from gage data
    
        '''
        ### Extract Date from Gage Data to match SWE
        d_date = datetime.strptime(row_time, self.date_format)
        # Extract year of date
        d_year = d_date.year
        # Extract number of days from SWE Data
        num_days = d_date- datetime.strptime('{}-1-1'.format(d_year),self.date_format)
        num_days = num_days.days

        ## Obtain swe data
        # if year of previous row does not match year of current row. Then Read Data
        if self.prev_year != d_year: 
            self.swe = h5py.File(f'SN_SWE_WY{d_year}.h5', 'r')
    #         lat = swe['lat'][0][::-1]
    #         lon = swe['lon'][:,0]
    #         lats,lons = np.meshgrid(lat,lon)
        self.prev_year = d_year

        # extract swe date
        swe_data = self.swe['SWE'][num_days]

        # flip over yaxis as lats are in a descending order --> need to change to ascending order
        swe_data_flip = swe_data[:,::-1]

        return swe_data_flip
    
    ### 2. Function for Extracting Index
    def index_finder(self,lon,lat):
        # Longtitude finder
        if lon < -123.3 or lon > -117.6:
            print('Longitude of Input is out of range! lon:',lon)
            return None
        elif lat < 35.4 or lat > 42:
            print('Latitude of Input is out of range! lat:',lat)
        else: #longtitude and latitude are within reasonable range
            lon_idx = round((lon + 123.3) * 1000)
            lat_idx = round((lat - 35.4) * 1000)

            return int(lon_idx),int(lat_idx)

    def pipeline(self):
        '''
            Objective: Pipeline for joining the entire gage time series table with swe data
            Input:
                - gage discharge data (date, discharge, gage lat &lon)
                - swe data (date, lat& lon, swe)
            Output:
                - Joint times series table with both gage discharge & swe
        '''
        # read gage csv file
        gage = pd.read_csv('../gage_discharge_lat_lon.csv')

        # Create Features & assign initial values with -1
        gage['swe_avg'] = -1
        # gage['swe_min'] = -1
        gage['swe_max'] = -1

        ### Run through all data
        for ii,row_num in enumerate(range(len(gage))):

            ### Start from row xx
            if ii >= 0:

                if ii % 100 == 0:
                    print(f'-------- Processing Row Number {ii} out of {len(gage)} ---------')

                ####
                # Start with each row
                row_data = gage.iloc[row_num,:]
                row_time = row_data['time']

                # NOTE: SWE has only data files from 1984 - 2016
                if 1984 < int(row_time[0:4]) <2017  : 

                    ### Obtain Value of Interested Region
                    ll_lon_idx,ll_lat_idx = self.index_finder(row_data['ll_lon'],row_data['ll_lat'])
                    tr_lon_idx,tr_lat_idx = self.index_finder(row_data['tr_lon'],row_data['tr_lat'])

                    # Obtain SWE data of Same Date
                    swe_data= self.extract_swe_day_and_data(row_time)

                    # get SWE values of surrounding region
                    region = swe_data[ll_lon_idx:tr_lon_idx,ll_lat_idx:tr_lat_idx]

                    # change -32768 (null values) to null
                    region=region.astype('float')
                    region[region == -32768] = np.nan

                    # --------------------------------------------------------------------
                    # Select way to process the region data into a single value or a k-dimension vector
                    region_avg = np.nanmean(region)
                    region_max = np.nanmax(region)
                    #########################

                   # region avg is not null, assign the value with average
                    gage.loc[row_num,'swe_avg'] = region_avg
                    gage.loc[row_num,'swe_max'] = region_max
                    
                # save data to csv file every 1000 rows processed
                if ii % 1000 == 0: 
                    gage.to_csv('../gage_with_swe.csv',index=False)
                    print(f'---- Round {ii} Save to CSV file')
                    
                    
        return gage


    def check_data(self):
        gage = pd.read_csv('../gage_with_swe.csv')
        
        print(gage.iloc[1000:1100,:])

In [33]:
# run class
gsj = gage_swe_join()
final = gsj.pipeline()
# gsj.check_data()

-------- Processing Row Number 0 out of 83274 ---------
---- Round 0 Save to CSV file
-------- Processing Row Number 100 out of 83274 ---------
-------- Processing Row Number 200 out of 83274 ---------
-------- Processing Row Number 300 out of 83274 ---------
-------- Processing Row Number 400 out of 83274 ---------
-------- Processing Row Number 500 out of 83274 ---------
-------- Processing Row Number 600 out of 83274 ---------
-------- Processing Row Number 700 out of 83274 ---------
-------- Processing Row Number 800 out of 83274 ---------
-------- Processing Row Number 900 out of 83274 ---------
-------- Processing Row Number 1000 out of 83274 ---------
---- Round 1000 Save to CSV file
-------- Processing Row Number 1100 out of 83274 ---------
-------- Processing Row Number 1200 out of 83274 ---------
-------- Processing Row Number 1300 out of 83274 ---------
-------- Processing Row Number 1400 out of 83274 ---------
-------- Processing Row Number 1500 out of 83274 ---------
-------- Processing Row Number 1600 out of 83274 ---------
-------- Processing Row Number 1700 out of 83274 ---------
-------- Processing Row Number 1800 out of 83274 ---------
-------- Processing Row Number 1900 out of 83274 ---------
-------- Processing Row Number 2000 out of 83274 ---------
---- Round 2000 Save to CSV file
-------- Processing Row Number 2100 out of 83274 ---------
-------- Processing Row Number 2200 out of 83274 ---------
-------- Processing Row Number 2300 out of 83274 ---------
-------- Processing Row Number 2400 out of 83274 ---------
-------- Processing Row Number 2500 out of 83274 ---------
-------- Processing Row Number 2600 out of 83274 ---------
-------- Processing Row Number 2700 out of 83274 ---------
-------- Processing Row Number 2800 out of 83274 ---------
-------- Processing Row Number 2900 out of 83274 ---------
-------- Processing Row Number 3000 out of 83274 ---------
---- Round 3000 Save to CSV file
-------- Processing Row Number 3100 out of 83274 ---------
-------- Processing Row Number 3200 out of 83274 ---------
-------- Processing Row Number 3300 out of 83274 ---------
-------- Processing Row Number 3400 out of 83274 ---------
-------- Processing Row Number 3500 out of 83274 ---------
-------- Processing Row Number 3600 out of 83274 ---------
-------- Processing Row Number 3700 out of 83274 ---------
-------- Processing Row Number 3800 out of 83274 ---------
-------- Processing Row Number 3900 out of 83274 ---------
-------- Processing Row Number 4000 out of 83274 ---------
---- Round 4000 Save to CSV file
-------- Processing Row Number 4100 out of 83274 ---------
-------- Processing Row Number 4200 out of 83274 ---------
-------- Processing Row Number 4300 out of 83274 ---------
-------- Processing Row Number 4400 out of 83274 ---------
-------- Processing Row Number 4500 out of 83274 ---------
-------- Processing Row Number 4600 out of 83274 ---------
-------- Processing Row Number 4700 out of 83274 ---------
-------- Processing Row Number 4800 out of 83274 ---------
-------- Processing Row Number 4900 out of 83274 ---------
-------- Processing Row Number 5000 out of 83274 ---------
---- Round 5000 Save to CSV file
-------- Processing Row Number 5100 out of 83274 ---------
-------- Processing Row Number 5200 out of 83274 ---------
-------- Processing Row Number 5300 out of 83274 ---------
-------- Processing Row Number 5400 out of 83274 ---------
-------- Processing Row Number 5500 out of 83274 ---------
-------- Processing Row Number 5600 out of 83274 ---------
-------- Processing Row Number 5700 out of 83274 ---------
-------- Processing Row Number 5800 out of 83274 ---------
-------- Processing Row Number 5900 out of 83274 ---------
-------- Processing Row Number 6000 out of 83274 ---------
---- Round 6000 Save to CSV file
-------- Processing Row Number 6100 out of 83274 ---------
-------- Processing Row Number 6200 out of 83274 ---------
-------- Processing Row Number 6300 out of 83274 ---------
-------- Processing Row Number 6400 out of 83274 ---------
-------- Processing Row Number 6500 out of 83274 ---------
-------- Processing Row Number 6600 out of 83274 ---------
-------- Processing Row Number 6700 out of 83274 ---------
-------- Processing Row Number 6800 out of 83274 ---------
-------- Processing Row Number 6900 out of 83274 ---------
-------- Processing Row Number 7000 out of 83274 ---------
---- Round 7000 Save to CSV file
-------- Processing Row Number 7100 out of 83274 ---------
-------- Processing Row Number 7200 out of 83274 ---------
-------- Processing Row Number 7300 out of 83274 ---------
-------- Processing Row Number 7400 out of 83274 ---------
-------- Processing Row Number 7500 out of 83274 ---------
-------- Processing Row Number 7600 out of 83274 ---------
-------- Processing Row Number 7700 out of 83274 ---------
-------- Processing Row Number 7800 out of 83274 ---------
-------- Processing Row Number 7900 out of 83274 ---------
-------- Processing Row Number 8000 out of 83274 ---------
---- Round 8000 Save to CSV file
-------- Processing Row Number 8100 out of 83274 ---------
-------- Processing Row Number 8200 out of 83274 ---------
-------- Processing Row Number 8300 out of 83274 ---------
-------- Processing Row Number 8400 out of 83274 ---------
-------- Processing Row Number 8500 out of 83274 ---------
-------- Processing Row Number 8600 out of 83274 ---------
-------- Processing Row Number 8700 out of 83274 ---------
-------- Processing Row Number 8800 out of 83274 ---------
-------- Processing Row Number 8900 out of 83274 ---------
-------- Processing Row Number 9000 out of 83274 ---------
---- Round 9000 Save to CSV file
-------- Processing Row Number 9100 out of 83274 ---------
-------- Processing Row Number 9200 out of 83274 ---------
-------- Processing Row Number 9300 out of 83274 ---------
-------- Processing Row Number 9400 out of 83274 ---------
-------- Processing Row Number 9500 out of 83274 ---------
-------- Processing Row Number 9600 out of 83274 ---------
-------- Processing Row Number 9700 out of 83274 ---------
-------- Processing Row Number 9800 out of 83274 ---------
-------- Processing Row Number 9900 out of 83274 ---------
-------- Processing Row Number 10000 out of 83274 ---------
---- Round 10000 Save to CSV file
-------- Processing Row Number 10100 out of 83274 ---------
-------- Processing Row Number 10200 out of 83274 ---------
-------- Processing Row Number 10300 out of 83274 ---------
-------- Processing Row Number 10400 out of 83274 ---------
-------- Processing Row Number 10500 out of 83274 ---------
-------- Processing Row Number 10600 out of 83274 ---------
-------- Processing Row Number 10700 out of 83274 ---------
-------- Processing Row Number 10800 out of 83274 ---------
-------- Processing Row Number 10900 out of 83274 ---------
-------- Processing Row Number 11000 out of 83274 ---------
---- Round 11000 Save to CSV file
-------- Processing Row Number 11100 out of 83274 ---------
-------- Processing Row Number 11200 out of 83274 ---------
-------- Processing Row Number 11300 out of 83274 ---------
-------- Processing Row Number 11400 out of 83274 ---------
-------- Processing Row Number 11500 out of 83274 ---------
-------- Processing Row Number 11600 out of 83274 ---------
-------- Processing Row Number 11700 out of 83274 ---------
-------- Processing Row Number 11800 out of 83274 ---------
-------- Processing Row Number 11900 out of 83274 ---------
-------- Processing Row Number 12000 out of 83274 ---------
---- Round 12000 Save to CSV file
-------- Processing Row Number 12100 out of 83274 ---------
-------- Processing Row Number 12200 out of 83274 ---------
-------- Processing Row Number 12300 out of 83274 ---------
-------- Processing Row Number 12400 out of 83274 ---------
-------- Processing Row Number 12500 out of 83274 ---------
-------- Processing Row Number 12600 out of 83274 ---------
-------- Processing Row Number 12700 out of 83274 ---------
-------- Processing Row Number 12800 out of 83274 ---------
-------- Processing Row Number 12900 out of 83274 ---------
-------- Processing Row Number 13000 out of 83274 ---------
---- Round 13000 Save to CSV file

-------- Processing Row Number 13100 out of 83274 ---------
-------- Processing Row Number 13200 out of 83274 ---------
-------- Processing Row Number 13300 out of 83274 ---------
-------- Processing Row Number 13400 out of 83274 ---------
-------- Processing Row Number 13500 out of 83274 ---------
-------- Processing Row Number 13600 out of 83274 ---------
-------- Processing Row Number 13700 out of 83274 ---------
-------- Processing Row Number 13800 out of 83274 ---------
-------- Processing Row Number 13900 out of 83274 ---------
-------- Processing Row Number 14000 out of 83274 ---------
---- Round 14000 Save to CSV file
-------- Processing Row Number 14100 out of 83274 ---------
-------- Processing Row Number 14200 out of 83274 ---------
-------- Processing Row Number 14300 out of 83274 ---------
-------- Processing Row Number 14400 out of 83274 ---------
-------- Processing Row Number 14500 out of 83274 ---------
-------- Processing Row Number 14600 out of 83274 ---------
-------- Processing Row Number 14700 out of 83274 ---------
-------- Processing Row Number 14800 out of 83274 ---------
-------- Processing Row Number 14900 out of 83274 ---------
-------- Processing Row Number 15000 out of 83274 ---------
---- Round 15000 Save to CSV file
-------- Processing Row Number 15100 out of 83274 ---------
-------- Processing Row Number 15200 out of 83274 ---------
-------- Processing Row Number 15300 out of 83274 ---------
-------- Processing Row Number 15400 out of 83274 ---------
-------- Processing Row Number 15500 out of 83274 ---------
-------- Processing Row Number 15600 out of 83274 ---------
-------- Processing Row Number 15700 out of 83274 ---------
-------- Processing Row Number 15800 out of 83274 ---------
-------- Processing Row Number 15900 out of 83274 ---------
-------- Processing Row Number 16000 out of 83274 ---------
---- Round 16000 Save to CSV file
-------- Processing Row Number 16100 out of 83274 ---------
-------- Processing Row Number 16200 out of 83274 ---------
-------- Processing Row Number 16300 out of 83274 ---------
-------- Processing Row Number 16400 out of 83274 ---------
-------- Processing Row Number 16500 out of 83274 ---------
-------- Processing Row Number 16600 out of 83274 ---------
-------- Processing Row Number 16700 out of 83274 ---------
-------- Processing Row Number 16800 out of 83274 ---------
-------- Processing Row Number 16900 out of 83274 ---------
-------- Processing Row Number 17000 out of 83274 ---------
---- Round 17000 Save to CSV file
-------- Processing Row Number 17100 out of 83274 ---------
-------- Processing Row Number 17200 out of 83274 ---------
-------- Processing Row Number 17300 out of 83274 ---------
-------- Processing Row Number 17400 out of 83274 ---------
-------- Processing Row Number 17500 out of 83274 ---------
-------- Processing Row Number 17600 out of 83274 ---------
-------- Processing Row Number 17700 out of 83274 ---------
-------- Processing Row Number 17800 out of 83274 ---------
-------- Processing Row Number 17900 out of 83274 ---------
-------- Processing Row Number 18000 out of 83274 ---------
---- Round 18000 Save to CSV file
-------- Processing Row Number 18100 out of 83274 ---------
-------- Processing Row Number 18200 out of 83274 ---------
-------- Processing Row Number 18300 out of 83274 ---------
-------- Processing Row Number 18400 out of 83274 ---------
-------- Processing Row Number 18500 out of 83274 ---------
-------- Processing Row Number 18600 out of 83274 ---------
-------- Processing Row Number 18700 out of 83274 ---------
-------- Processing Row Number 18800 out of 83274 ---------
-------- Processing Row Number 18900 out of 83274 ---------
-------- Processing Row Number 19000 out of 83274 ---------
---- Round 19000 Save to CSV file
-------- Processing Row Number 19100 out of 83274 ---------
-------- Processing Row Number 19200 out of 83274 ---------
-------- Processing Row Number 19300 out of 83274 ---------
-------- Processing Row Number 19400 out of 83274 ---------
-------- Processing Row Number 19500 out of 83274 ---------
-------- Processing Row Number 19600 out of 83274 ---------
-------- Processing Row Number 19700 out of 83274 ---------
-------- Processing Row Number 19800 out of 83274 ---------
-------- Processing Row Number 19900 out of 83274 ---------
-------- Processing Row Number 20000 out of 83274 ---------
---- Round 20000 Save to CSV file
-------- Processing Row Number 20100 out of 83274 ---------
-------- Processing Row Number 20200 out of 83274 ---------
-------- Processing Row Number 20300 out of 83274 ---------
-------- Processing Row Number 20400 out of 83274 ---------
-------- Processing Row Number 20500 out of 83274 ---------
-------- Processing Row Number 20600 out of 83274 ---------
-------- Processing Row Number 20700 out of 83274 ---------
-------- Processing Row Number 20800 out of 83274 ---------
-------- Processing Row Number 20900 out of 83274 ---------
-------- Processing Row Number 21000 out of 83274 ---------
---- Round 21000 Save to CSV file
-------- Processing Row Number 21100 out of 83274 ---------
-------- Processing Row Number 21200 out of 83274 ---------
-------- Processing Row Number 21300 out of 83274 ---------
-------- Processing Row Number 21400 out of 83274 ---------
-------- Processing Row Number 21500 out of 83274 ---------
-------- Processing Row Number 21600 out of 83274 ---------
-------- Processing Row Number 21700 out of 83274 ---------
-------- Processing Row Number 21800 out of 83274 ---------
-------- Processing Row Number 21900 out of 83274 ---------
-------- Processing Row Number 22000 out of 83274 ---------
---- Round 22000 Save to CSV file
-------- Processing Row Number 22100 out of 83274 ---------
-------- Processing Row Number 22200 out of 83274 ---------
-------- Processing Row Number 22300 out of 83274 ---------
-------- Processing Row Number 22400 out of 83274 ---------
-------- Processing Row Number 22500 out of 83274 ---------
-------- Processing Row Number 22600 out of 83274 ---------
-------- Processing Row Number 22700 out of 83274 ---------
-------- Processing Row Number 22800 out of 83274 ---------
-------- Processing Row Number 22900 out of 83274 ---------
-------- Processing Row Number 23000 out of 83274 ---------
---- Round 23000 Save to CSV file
-------- Processing Row Number 23100 out of 83274 ---------
-------- Processing Row Number 23200 out of 83274 ---------
-------- Processing Row Number 23300 out of 83274 ---------
-------- Processing Row Number 23400 out of 83274 ---------
-------- Processing Row Number 23500 out of 83274 ---------
-------- Processing Row Number 23600 out of 83274 ---------
-------- Processing Row Number 23700 out of 83274 ---------
-------- Processing Row Number 23800 out of 83274 ---------
-------- Processing Row Number 23900 out of 83274 ---------
-------- Processing Row Number 24000 out of 83274 ---------
---- Round 24000 Save to CSV file
-------- Processing Row Number 24100 out of 83274 ---------
-------- Processing Row Number 24200 out of 83274 ---------
-------- Processing Row Number 24300 out of 83274 ---------
-------- Processing Row Number 24400 out of 83274 ---------
-------- Processing Row Number 24500 out of 83274 ---------
-------- Processing Row Number 24600 out of 83274 ---------
-------- Processing Row Number 24700 out of 83274 ---------
-------- Processing Row Number 24800 out of 83274 ---------
-------- Processing Row Number 24900 out of 83274 ---------
-------- Processing Row Number 25000 out of 83274 ---------
---- Round 25000 Save to CSV file
-------- Processing Row Number 25100 out of 83274 ---------
-------- Processing Row Number 25200 out of 83274 ---------
-------- Processing Row Number 25300 out of 83274 ---------
-------- Processing Row Number 25400 out of 83274 ---------
-------- Processing Row Number 25500 out of 83274 ---------
-------- Processing Row Number 25600 out of 83274 ---------
-------- Processing Row Number 25700 out of 83274 ---------
-------- Processing Row Number 25800 out of 83274 ---------
-------- Processing Row Number 25900 out of 83274 ---------
-------- Processing Row Number 26000 out of 83274 ---------

---- Round 26000 Save to CSV file
-------- Processing Row Number 26100 out of 83274 ---------
-------- Processing Row Number 26200 out of 83274 ---------
-------- Processing Row Number 26300 out of 83274 ---------
-------- Processing Row Number 26400 out of 83274 ---------
-------- Processing Row Number 26500 out of 83274 ---------
-------- Processing Row Number 26600 out of 83274 ---------
-------- Processing Row Number 26700 out of 83274 ---------
-------- Processing Row Number 26800 out of 83274 ---------
-------- Processing Row Number 26900 out of 83274 ---------
-------- Processing Row Number 27000 out of 83274 ---------
---- Round 27000 Save to CSV file
-------- Processing Row Number 27100 out of 83274 ---------
-------- Processing Row Number 27200 out of 83274 ---------
-------- Processing Row Number 27300 out of 83274 ---------
-------- Processing Row Number 27400 out of 83274 ---------
-------- Processing Row Number 27500 out of 83274 ---------
-------- Processing Row Number 27600 out of 83274 ---------
-------- Processing Row Number 27700 out of 83274 ---------
-------- Processing Row Number 27800 out of 83274 ---------
-------- Processing Row Number 27900 out of 83274 ---------
-------- Processing Row Number 28000 out of 83274 ---------
---- Round 28000 Save to CSV file
-------- Processing Row Number 28100 out of 83274 ---------
-------- Processing Row Number 28200 out of 83274 ---------
-------- Processing Row Number 28300 out of 83274 ---------
-------- Processing Row Number 28400 out of 83274 ---------
-------- Processing Row Number 28500 out of 83274 ---------
-------- Processing Row Number 28600 out of 83274 ---------
-------- Processing Row Number 28700 out of 83274 ---------
-------- Processing Row Number 28800 out of 83274 ---------
-------- Processing Row Number 28900 out of 83274 ---------
-------- Processing Row Number 29000 out of 83274 ---------
---- Round 29000 Save to CSV file
-------- Processing Row Number 29100 out of 83274 ---------
-------- Processing Row Number 29200 out of 83274 ---------
-------- Processing Row Number 29300 out of 83274 ---------
-------- Processing Row Number 29400 out of 83274 ---------
-------- Processing Row Number 29500 out of 83274 ---------
-------- Processing Row Number 29600 out of 83274 ---------
-------- Processing Row Number 29700 out of 83274 ---------
-------- Processing Row Number 29800 out of 83274 ---------
-------- Processing Row Number 29900 out of 83274 ---------
-------- Processing Row Number 30000 out of 83274 ---------
---- Round 30000 Save to CSV file
-------- Processing Row Number 30100 out of 83274 ---------
-------- Processing Row Number 30200 out of 83274 ---------
-------- Processing Row Number 30300 out of 83274 ---------
-------- Processing Row Number 30400 out of 83274 ---------
-------- Processing Row Number 30500 out of 83274 ---------
-------- Processing Row Number 30600 out of 83274 ---------
-------- Processing Row Number 30700 out of 83274 ---------
-------- Processing Row Number 30800 out of 83274 ---------
-------- Processing Row Number 30900 out of 83274 ---------
-------- Processing Row Number 31000 out of 83274 ---------
---- Round 31000 Save to CSV file
-------- Processing Row Number 31100 out of 83274 ---------
-------- Processing Row Number 31200 out of 83274 ---------
-------- Processing Row Number 31300 out of 83274 ---------
-------- Processing Row Number 31400 out of 83274 ---------
-------- Processing Row Number 31500 out of 83274 ---------
-------- Processing Row Number 31600 out of 83274 ---------
-------- Processing Row Number 31700 out of 83274 ---------
-------- Processing Row Number 31800 out of 83274 ---------
-------- Processing Row Number 31900 out of 83274 ---------
-------- Processing Row Number 32000 out of 83274 ---------
---- Round 32000 Save to CSV file
-------- Processing Row Number 32100 out of 83274 ---------
-------- Processing Row Number 32200 out of 83274 ---------
-------- Processing Row Number 32300 out of 83274 ---------
-------- Processing Row Number 32400 out of 83274 ---------
-------- Processing Row Number 32500 out of 83274 ---------
-------- Processing Row Number 32600 out of 83274 ---------
-------- Processing Row Number 32700 out of 83274 ---------
-------- Processing Row Number 32800 out of 83274 ---------
-------- Processing Row Number 32900 out of 83274 ---------
-------- Processing Row Number 33000 out of 83274 ---------
---- Round 33000 Save to CSV file
-------- Processing Row Number 33100 out of 83274 ---------
-------- Processing Row Number 33200 out of 83274 ---------
-------- Processing Row Number 33300 out of 83274 ---------
-------- Processing Row Number 33400 out of 83274 ---------
-------- Processing Row Number 33500 out of 83274 ---------
-------- Processing Row Number 33600 out of 83274 ---------
-------- Processing Row Number 33700 out of 83274 ---------
-------- Processing Row Number 33800 out of 83274 ---------
-------- Processing Row Number 33900 out of 83274 ---------
-------- Processing Row Number 34000 out of 83274 ---------
---- Round 34000 Save to CSV file
-------- Processing Row Number 34100 out of 83274 ---------
-------- Processing Row Number 34200 out of 83274 ---------
-------- Processing Row Number 34300 out of 83274 ---------
-------- Processing Row Number 34400 out of 83274 ---------
-------- Processing Row Number 34500 out of 83274 ---------
-------- Processing Row Number 34600 out of 83274 ---------
-------- Processing Row Number 34700 out of 83274 ---------
-------- Processing Row Number 34800 out of 83274 ---------
-------- Processing Row Number 34900 out of 83274 ---------
-------- Processing Row Number 35000 out of 83274 ---------
---- Round 35000 Save to CSV file
-------- Processing Row Number 35100 out of 83274 ---------
-------- Processing Row Number 35200 out of 83274 ---------
-------- Processing Row Number 35300 out of 83274 ---------
-------- Processing Row Number 35400 out of 83274 ---------
-------- Processing Row Number 35500 out of 83274 ---------
-------- Processing Row Number 35600 out of 83274 ---------
-------- Processing Row Number 35700 out of 83274 ---------
-------- Processing Row Number 35800 out of 83274 ---------
-------- Processing Row Number 35900 out of 83274 ---------
-------- Processing Row Number 36000 out of 83274 ---------
---- Round 36000 Save to CSV file
-------- Processing Row Number 36100 out of 83274 ---------
-------- Processing Row Number 36200 out of 83274 ---------
-------- Processing Row Number 36300 out of 83274 ---------
-------- Processing Row Number 36400 out of 83274 ---------
-------- Processing Row Number 36500 out of 83274 ---------
-------- Processing Row Number 36600 out of 83274 ---------
-------- Processing Row Number 36700 out of 83274 ---------
-------- Processing Row Number 36800 out of 83274 ---------
-------- Processing Row Number 36900 out of 83274 ---------
-------- Processing Row Number 37000 out of 83274 ---------
---- Round 37000 Save to CSV file
-------- Processing Row Number 37100 out of 83274 ---------
-------- Processing Row Number 37200 out of 83274 ---------
-------- Processing Row Number 37300 out of 83274 ---------
-------- Processing Row Number 37400 out of 83274 ---------
-------- Processing Row Number 37500 out of 83274 ---------
-------- Processing Row Number 37600 out of 83274 ---------
-------- Processing Row Number 37700 out of 83274 ---------
-------- Processing Row Number 37800 out of 83274 ---------
-------- Processing Row Number 37900 out of 83274 ---------
-------- Processing Row Number 38000 out of 83274 ---------
---- Round 38000 Save to CSV file
-------- Processing Row Number 38100 out of 83274 ---------
-------- Processing Row Number 38200 out of 83274 ---------
-------- Processing Row Number 38300 out of 83274 ---------
-------- Processing Row Number 38400 out of 83274 ---------
-------- Processing Row Number 38500 out of 83274 ---------
-------- Processing Row Number 38600 out of 83274 ---------
-------- Processing Row Number 38700 out of 83274 ---------
-------- Processing Row Number 38800 out of 83274 ---------
-------- Processing Row Number 38900 out of 83274 ---------
-------- Processing Row Number 39000 out of 83274 ---------

---- Round 39000 Save to CSV file
-------- Processing Row Number 39100 out of 83274 ---------
-------- Processing Row Number 39200 out of 83274 ---------
-------- Processing Row Number 39300 out of 83274 ---------
-------- Processing Row Number 39400 out of 83274 ---------
-------- Processing Row Number 39500 out of 83274 ---------
-------- Processing Row Number 39600 out of 83274 ---------
-------- Processing Row Number 39700 out of 83274 ---------
-------- Processing Row Number 39800 out of 83274 ---------
-------- Processing Row Number 39900 out of 83274 ---------
-------- Processing Row Number 40000 out of 83274 ---------
---- Round 40000 Save to CSV file
-------- Processing Row Number 40100 out of 83274 ---------
-------- Processing Row Number 40200 out of 83274 ---------
-------- Processing Row Number 40300 out of 83274 ---------
-------- Processing Row Number 40400 out of 83274 ---------
-------- Processing Row Number 40500 out of 83274 ---------
-------- Processing Row Number 40600 out of 83274 ---------
-------- Processing Row Number 40700 out of 83274 ---------
-------- Processing Row Number 40800 out of 83274 ---------
-------- Processing Row Number 40900 out of 83274 ---------
-------- Processing Row Number 41000 out of 83274 ---------
---- Round 41000 Save to CSV file
-------- Processing Row Number 41100 out of 83274 ---------
-------- Processing Row Number 41200 out of 83274 ---------
-------- Processing Row Number 41300 out of 83274 ---------
-------- Processing Row Number 41400 out of 83274 ---------
-------- Processing Row Number 41500 out of 83274 ---------
-------- Processing Row Number 41600 out of 83274 ---------
-------- Processing Row Number 41700 out of 83274 ---------
-------- Processing Row Number 41800 out of 83274 ---------
-------- Processing Row Number 41900 out of 83274 ---------
-------- Processing Row Number 42000 out of 83274 ---------
---- Round 42000 Save to CSV file
-------- Processing Row Number 42100 out of 83274 ---------
-------- Processing Row Number 42200 out of 83274 ---------
-------- Processing Row Number 42300 out of 83274 ---------
-------- Processing Row Number 42400 out of 83274 ---------
-------- Processing Row Number 42500 out of 83274 ---------
-------- Processing Row Number 42600 out of 83274 ---------
-------- Processing Row Number 42700 out of 83274 ---------
-------- Processing Row Number 42800 out of 83274 ---------
-------- Processing Row Number 42900 out of 83274 ---------
-------- Processing Row Number 43000 out of 83274 ---------
---- Round 43000 Save to CSV file
-------- Processing Row Number 43100 out of 83274 ---------
-------- Processing Row Number 43200 out of 83274 ---------
-------- Processing Row Number 43300 out of 83274 ---------
-------- Processing Row Number 43400 out of 83274 ---------
-------- Processing Row Number 43500 out of 83274 ---------
-------- Processing Row Number 43600 out of 83274 ---------
-------- Processing Row Number 43700 out of 83274 ---------
-------- Processing Row Number 43800 out of 83274 ---------
-------- Processing Row Number 43900 out of 83274 ---------
-------- Processing Row Number 44000 out of 83274 ---------
---- Round 44000 Save to CSV file
-------- Processing Row Number 44100 out of 83274 ---------
-------- Processing Row Number 44200 out of 83274 ---------
-------- Processing Row Number 44300 out of 83274 ---------
-------- Processing Row Number 44400 out of 83274 ---------
-------- Processing Row Number 44500 out of 83274 ---------
-------- Processing Row Number 44600 out of 83274 ---------
-------- Processing Row Number 44700 out of 83274 ---------
-------- Processing Row Number 44800 out of 83274 ---------
-------- Processing Row Number 44900 out of 83274 ---------
-------- Processing Row Number 45000 out of 83274 ---------
---- Round 45000 Save to CSV file
-------- Processing Row Number 45100 out of 83274 ---------
-------- Processing Row Number 45200 out of 83274 ---------
-------- Processing Row Number 45300 out of 83274 ---------
-------- Processing Row Number 45400 out of 83274 ---------
-------- Processing Row Number 45500 out of 83274 ---------
-------- Processing Row Number 45600 out of 83274 ---------
-------- Processing Row Number 45700 out of 83274 ---------
-------- Processing Row Number 45800 out of 83274 ---------
-------- Processing Row Number 45900 out of 83274 ---------
-------- Processing Row Number 46000 out of 83274 ---------
---- Round 46000 Save to CSV file
-------- Processing Row Number 46100 out of 83274 ---------
-------- Processing Row Number 46200 out of 83274 ---------
-------- Processing Row Number 46300 out of 83274 ---------
-------- Processing Row Number 46400 out of 83274 ---------
-------- Processing Row Number 46500 out of 83274 ---------
-------- Processing Row Number 46600 out of 83274 ---------
-------- Processing Row Number 46700 out of 83274 ---------
-------- Processing Row Number 46800 out of 83274 ---------
-------- Processing Row Number 46900 out of 83274 ---------
-------- Processing Row Number 47000 out of 83274 ---------
---- Round 47000 Save to CSV file
-------- Processing Row Number 47100 out of 83274 ---------
-------- Processing Row Number 47200 out of 83274 ---------
-------- Processing Row Number 47300 out of 83274 ---------
-------- Processing Row Number 47400 out of 83274 ---------
-------- Processing Row Number 47500 out of 83274 ---------
-------- Processing Row Number 47600 out of 83274 ---------
-------- Processing Row Number 47700 out of 83274 ---------
-------- Processing Row Number 47800 out of 83274 ---------
-------- Processing Row Number 47900 out of 83274 ---------
-------- Processing Row Number 48000 out of 83274 ---------
---- Round 48000 Save to CSV file
-------- Processing Row Number 48100 out of 83274 ---------
-------- Processing Row Number 48200 out of 83274 ---------
-------- Processing Row Number 48300 out of 83274 ---------
-------- Processing Row Number 48400 out of 83274 ---------
-------- Processing Row Number 48500 out of 83274 ---------
-------- Processing Row Number 48600 out of 83274 ---------
-------- Processing Row Number 48700 out of 83274 ---------
-------- Processing Row Number 48800 out of 83274 ---------
-------- Processing Row Number 48900 out of 83274 ---------
-------- Processing Row Number 49000 out of 83274 ---------
---- Round 49000 Save to CSV file
-------- Processing Row Number 49100 out of 83274 ---------
-------- Processing Row Number 49200 out of 83274 ---------
-------- Processing Row Number 49300 out of 83274 ---------
-------- Processing Row Number 49400 out of 83274 ---------
-------- Processing Row Number 49500 out of 83274 ---------
-------- Processing Row Number 49600 out of 83274 ---------
-------- Processing Row Number 49700 out of 83274 ---------
-------- Processing Row Number 49800 out of 83274 ---------
-------- Processing Row Number 49900 out of 83274 ---------
-------- Processing Row Number 50000 out of 83274 ---------
---- Round 50000 Save to CSV file
-------- Processing Row Number 50100 out of 83274 ---------
-------- Processing Row Number 50200 out of 83274 ---------
-------- Processing Row Number 50300 out of 83274 ---------
-------- Processing Row Number 50400 out of 83274 ---------
-------- Processing Row Number 50500 out of 83274 ---------
-------- Processing Row Number 50600 out of 83274 ---------
-------- Processing Row Number 50700 out of 83274 ---------
-------- Processing Row Number 50800 out of 83274 ---------
-------- Processing Row Number 50900 out of 83274 ---------
-------- Processing Row Number 51000 out of 83274 ---------
---- Round 51000 Save to CSV file
-------- Processing Row Number 51100 out of 83274 ---------
-------- Processing Row Number 51200 out of 83274 ---------
-------- Processing Row Number 51300 out of 83274 ---------
-------- Processing Row Number 51400 out of 83274 ---------
-------- Processing Row Number 51500 out of 83274 ---------
-------- Processing Row Number 51600 out of 83274 ---------
-------- Processing Row Number 51700 out of 83274 ---------
-------- Processing Row Number 51800 out of 83274 ---------
-------- Processing Row Number 51900 out of 83274 ---------
-------- Processing Row Number 52000 out of 83274 ---------

---- Round 52000 Save to CSV file
-------- Processing Row Number 52100 out of 83274 ---------
-------- Processing Row Number 52200 out of 83274 ---------
-------- Processing Row Number 52300 out of 83274 ---------
-------- Processing Row Number 52400 out of 83274 ---------
-------- Processing Row Number 52500 out of 83274 ---------
-------- Processing Row Number 52600 out of 83274 ---------
-------- Processing Row Number 52700 out of 83274 ---------
-------- Processing Row Number 52800 out of 83274 ---------
-------- Processing Row Number 52900 out of 83274 ---------
-------- Processing Row Number 53000 out of 83274 ---------
---- Round 53000 Save to CSV file
-------- Processing Row Number 53100 out of 83274 ---------
-------- Processing Row Number 53200 out of 83274 ---------
-------- Processing Row Number 53300 out of 83274 ---------
-------- Processing Row Number 53400 out of 83274 ---------
-------- Processing Row Number 53500 out of 83274 ---------
-------- Processing Row Number 53600 out of 83274 ---------
-------- Processing Row Number 53700 out of 83274 ---------
-------- Processing Row Number 53800 out of 83274 ---------
-------- Processing Row Number 53900 out of 83274 ---------
-------- Processing Row Number 54000 out of 83274 ---------
---- Round 54000 Save to CSV file
-------- Processing Row Number 54100 out of 83274 ---------
-------- Processing Row Number 54200 out of 83274 ---------
-------- Processing Row Number 54300 out of 83274 ---------
-------- Processing Row Number 54400 out of 83274 ---------
-------- Processing Row Number 54500 out of 83274 ---------
-------- Processing Row Number 54600 out of 83274 ---------
-------- Processing Row Number 54700 out of 83274 ---------
-------- Processing Row Number 54800 out of 83274 ---------
-------- Processing Row Number 54900 out of 83274 ---------
-------- Processing Row Number 55000 out of 83274 ---------
---- Round 55000 Save to CSV file
-------- Processing Row Number 55100 out of 83274 ---------
-------- Processing Row Number 55200 out of 83274 ---------
-------- Processing Row Number 55300 out of 83274 ---------
-------- Processing Row Number 55400 out of 83274 ---------
-------- Processing Row Number 55500 out of 83274 ---------
-------- Processing Row Number 55600 out of 83274 ---------
-------- Processing Row Number 55700 out of 83274 ---------
-------- Processing Row Number 55800 out of 83274 ---------
-------- Processing Row Number 55900 out of 83274 ---------
-------- Processing Row Number 56000 out of 83274 ---------
---- Round 56000 Save to CSV file
-------- Processing Row Number 56100 out of 83274 ---------
-------- Processing Row Number 56200 out of 83274 ---------
-------- Processing Row Number 56300 out of 83274 ---------
-------- Processing Row Number 56400 out of 83274 ---------
-------- Processing Row Number 56500 out of 83274 ---------
-------- Processing Row Number 56600 out of 83274 ---------
-------- Processing Row Number 56700 out of 83274 ---------
-------- Processing Row Number 56800 out of 83274 ---------
-------- Processing Row Number 56900 out of 83274 ---------
-------- Processing Row Number 57000 out of 83274 ---------
---- Round 57000 Save to CSV file
-------- Processing Row Number 57100 out of 83274 ---------
-------- Processing Row Number 57200 out of 83274 ---------
-------- Processing Row Number 57300 out of 83274 ---------
-------- Processing Row Number 57400 out of 83274 ---------
-------- Processing Row Number 57500 out of 83274 ---------
-------- Processing Row Number 57600 out of 83274 ---------
-------- Processing Row Number 57700 out of 83274 ---------
-------- Processing Row Number 57800 out of 83274 ---------
-------- Processing Row Number 57900 out of 83274 ---------
-------- Processing Row Number 58000 out of 83274 ---------
---- Round 58000 Save to CSV file
-------- Processing Row Number 58100 out of 83274 ---------
-------- Processing Row Number 58200 out of 83274 ---------
-------- Processing Row Number 58300 out of 83274 ---------
-------- Processing Row Number 58400 out of 83274 ---------
-------- Processing Row Number 58500 out of 83274 ---------
-------- Processing Row Number 58600 out of 83274 ---------
-------- Processing Row Number 58700 out of 83274 ---------
-------- Processing Row Number 58800 out of 83274 ---------
-------- Processing Row Number 58900 out of 83274 ---------
-------- Processing Row Number 59000 out of 83274 ---------
---- Round 59000 Save to CSV file
-------- Processing Row Number 59100 out of 83274 ---------
-------- Processing Row Number 59200 out of 83274 ---------
-------- Processing Row Number 59300 out of 83274 ---------
-------- Processing Row Number 59400 out of 83274 ---------
-------- Processing Row Number 59500 out of 83274 ---------
-------- Processing Row Number 59600 out of 83274 ---------
-------- Processing Row Number 59700 out of 83274 ---------
-------- Processing Row Number 59800 out of 83274 ---------
-------- Processing Row Number 59900 out of 83274 ---------
-------- Processing Row Number 60000 out of 83274 ---------
---- Round 60000 Save to CSV file
-------- Processing Row Number 60100 out of 83274 ---------
-------- Processing Row Number 60200 out of 83274 ---------
-------- Processing Row Number 60300 out of 83274 ---------
-------- Processing Row Number 60400 out of 83274 ---------
-------- Processing Row Number 60500 out of 83274 ---------
-------- Processing Row Number 60600 out of 83274 ---------
-------- Processing Row Number 60700 out of 83274 ---------
-------- Processing Row Number 60800 out of 83274 ---------
-------- Processing Row Number 60900 out of 83274 ---------
-------- Processing Row Number 61000 out of 83274 ---------
---- Round 61000 Save to CSV file
-------- Processing Row Number 61100 out of 83274 ---------
-------- Processing Row Number 61200 out of 83274 ---------
-------- Processing Row Number 61300 out of 83274 ---------
-------- Processing Row Number 61400 out of 83274 ---------
-------- Processing Row Number 61500 out of 83274 ---------
-------- Processing Row Number 61600 out of 83274 ---------
-------- Processing Row Number 61700 out of 83274 ---------
-------- Processing Row Number 61800 out of 83274 ---------
-------- Processing Row Number 61900 out of 83274 ---------
-------- Processing Row Number 62000 out of 83274 ---------
---- Round 62000 Save to CSV file
-------- Processing Row Number 62100 out of 83274 ---------
-------- Processing Row Number 62200 out of 83274 ---------
-------- Processing Row Number 62300 out of 83274 ---------
-------- Processing Row Number 62400 out of 83274 ---------
-------- Processing Row Number 62500 out of 83274 ---------
-------- Processing Row Number 62600 out of 83274 ---------
-------- Processing Row Number 62700 out of 83274 ---------
-------- Processing Row Number 62800 out of 83274 ---------
-------- Processing Row Number 62900 out of 83274 ---------
-------- Processing Row Number 63000 out of 83274 ---------
---- Round 63000 Save to CSV file
-------- Processing Row Number 63100 out of 83274 ---------
-------- Processing Row Number 63200 out of 83274 ---------
-------- Processing Row Number 63300 out of 83274 ---------
-------- Processing Row Number 63400 out of 83274 ---------
-------- Processing Row Number 63500 out of 83274 ---------
-------- Processing Row Number 63600 out of 83274 ---------
-------- Processing Row Number 63700 out of 83274 ---------
-------- Processing Row Number 63800 out of 83274 ---------
-------- Processing Row Number 63900 out of 83274 ---------
-------- Processing Row Number 64000 out of 83274 ---------
---- Round 64000 Save to CSV file
-------- Processing Row Number 64100 out of 83274 ---------
-------- Processing Row Number 64200 out of 83274 ---------
-------- Processing Row Number 64300 out of 83274 ---------
-------- Processing Row Number 64400 out of 83274 ---------
-------- Processing Row Number 64500 out of 83274 ---------
-------- Processing Row Number 64600 out of 83274 ---------
-------- Processing Row Number 64700 out of 83274 ---------
-------- Processing Row Number 64800 out of 83274 ---------
-------- Processing Row Number 64900 out of 83274 ---------
-------- Processing Row Number 65000 out of 83274 ---------

---- Round 65000 Save to CSV file
-------- Processing Row Number 65100 out of 83274 ---------
-------- Processing Row Number 65200 out of 83274 ---------
-------- Processing Row Number 65300 out of 83274 ---------
-------- Processing Row Number 65400 out of 83274 ---------
-------- Processing Row Number 65500 out of 83274 ---------
-------- Processing Row Number 65600 out of 83274 ---------
-------- Processing Row Number 65700 out of 83274 ---------
-------- Processing Row Number 65800 out of 83274 ---------
-------- Processing Row Number 65900 out of 83274 ---------
-------- Processing Row Number 66000 out of 83274 ---------
---- Round 66000 Save to CSV file
-------- Processing Row Number 66100 out of 83274 ---------
-------- Processing Row Number 66200 out of 83274 ---------
-------- Processing Row Number 66300 out of 83274 ---------
-------- Processing Row Number 66400 out of 83274 ---------
-------- Processing Row Number 66500 out of 83274 ---------
-------- Processing Row Number 66600 out of 83274 ---------
-------- Processing Row Number 66700 out of 83274 ---------
-------- Processing Row Number 66800 out of 83274 ---------
-------- Processing Row Number 66900 out of 83274 ---------
-------- Processing Row Number 67000 out of 83274 ---------
---- Round 67000 Save to CSV file
-------- Processing Row Number 67100 out of 83274 ---------
-------- Processing Row Number 67200 out of 83274 ---------
-------- Processing Row Number 67300 out of 83274 ---------
-------- Processing Row Number 67400 out of 83274 ---------
-------- Processing Row Number 67500 out of 83274 ---------
-------- Processing Row Number 67600 out of 83274 ---------
-------- Processing Row Number 67700 out of 83274 ---------
-------- Processing Row Number 67800 out of 83274 ---------
-------- Processing Row Number 67900 out of 83274 ---------
-------- Processing Row Number 68000 out of 83274 ---------
---- Round 68000 Save to CSV file
-------- Processing Row Number 68100 out of 83274 ---------
-------- Processing Row Number 68200 out of 83274 ---------
-------- Processing Row Number 68300 out of 83274 ---------
-------- Processing Row Number 68400 out of 83274 ---------
-------- Processing Row Number 68500 out of 83274 ---------
-------- Processing Row Number 68600 out of 83274 ---------
-------- Processing Row Number 68700 out of 83274 ---------
-------- Processing Row Number 68800 out of 83274 ---------
-------- Processing Row Number 68900 out of 83274 ---------
-------- Processing Row Number 69000 out of 83274 ---------
---- Round 69000 Save to CSV file
-------- Processing Row Number 69100 out of 83274 ---------
-------- Processing Row Number 69200 out of 83274 ---------
-------- Processing Row Number 69300 out of 83274 ---------
-------- Processing Row Number 69400 out of 83274 ---------
-------- Processing Row Number 69500 out of 83274 ---------
-------- Processing Row Number 69600 out of 83274 ---------
-------- Processing Row Number 69700 out of 83274 ---------
-------- Processing Row Number 69800 out of 83274 ---------
-------- Processing Row Number 69900 out of 83274 ---------
-------- Processing Row Number 70000 out of 83274 ---------
---- Round 70000 Save to CSV file
-------- Processing Row Number 70100 out of 83274 ---------
-------- Processing Row Number 70200 out of 83274 ---------
-------- Processing Row Number 70300 out of 83274 ---------
-------- Processing Row Number 70400 out of 83274 ---------
-------- Processing Row Number 70500 out of 83274 ---------
-------- Processing Row Number 70600 out of 83274 ---------
-------- Processing Row Number 70700 out of 83274 ---------
-------- Processing Row Number 70800 out of 83274 ---------
-------- Processing Row Number 70900 out of 83274 ---------
-------- Processing Row Number 71000 out of 83274 ---------
---- Round 71000 Save to CSV file
-------- Processing Row Number 71100 out of 83274 ---------
-------- Processing Row Number 71200 out of 83274 ---------
-------- Processing Row Number 71300 out of 83274 ---------
-------- Processing Row Number 71400 out of 83274 ---------
-------- Processing Row Number 71500 out of 83274 ---------
-------- Processing Row Number 71600 out of 83274 ---------
-------- Processing Row Number 71700 out of 83274 ---------
-------- Processing Row Number 71800 out of 83274 ---------
-------- Processing Row Number 71900 out of 83274 ---------
-------- Processing Row Number 72000 out of 83274 ---------
---- Round 72000 Save to CSV file
-------- Processing Row Number 72100 out of 83274 ---------
-------- Processing Row Number 72200 out of 83274 ---------
-------- Processing Row Number 72300 out of 83274 ---------
-------- Processing Row Number 72400 out of 83274 ---------
-------- Processing Row Number 72500 out of 83274 ---------
-------- Processing Row Number 72600 out of 83274 ---------
-------- Processing Row Number 72700 out of 83274 ---------
-------- Processing Row Number 72800 out of 83274 ---------
-------- Processing Row Number 72900 out of 83274 ---------
-------- Processing Row Number 73000 out of 83274 ---------
---- Round 73000 Save to CSV file
-------- Processing Row Number 73100 out of 83274 ---------
-------- Processing Row Number 73200 out of 83274 ---------
-------- Processing Row Number 73300 out of 83274 ---------
-------- Processing Row Number 73400 out of 83274 ---------
-------- Processing Row Number 73500 out of 83274 ---------
-------- Processing Row Number 73600 out of 83274 ---------
-------- Processing Row Number 73700 out of 83274 ---------
-------- Processing Row Number 73800 out of 83274 ---------
-------- Processing Row Number 73900 out of 83274 ---------
-------- Processing Row Number 74000 out of 83274 ---------
---- Round 74000 Save to CSV file
-------- Processing Row Number 74100 out of 83274 ---------
-------- Processing Row Number 74200 out of 83274 ---------
-------- Processing Row Number 74300 out of 83274 ---------
-------- Processing Row Number 74400 out of 83274 ---------
-------- Processing Row Number 74500 out of 83274 ---------
-------- Processing Row Number 74600 out of 83274 ---------
-------- Processing Row Number 74700 out of 83274 ---------
-------- Processing Row Number 74800 out of 83274 ---------
-------- Processing Row Number 74900 out of 83274 ---------
-------- Processing Row Number 75000 out of 83274 ---------
---- Round 75000 Save to CSV file
-------- Processing Row Number 75100 out of 83274 ---------
-------- Processing Row Number 75200 out of 83274 ---------
-------- Processing Row Number 75300 out of 83274 ---------
-------- Processing Row Number 75400 out of 83274 ---------
-------- Processing Row Number 75500 out of 83274 ---------
-------- Processing Row Number 75600 out of 83274 ---------
-------- Processing Row Number 75700 out of 83274 ---------
-------- Processing Row Number 75800 out of 83274 ---------
-------- Processing Row Number 75900 out of 83274 ---------
-------- Processing Row Number 76000 out of 83274 ---------
---- Round 76000 Save to CSV file
-------- Processing Row Number 76100 out of 83274 ---------
-------- Processing Row Number 76200 out of 83274 ---------
-------- Processing Row Number 76300 out of 83274 ---------
-------- Processing Row Number 76400 out of 83274 ---------
-------- Processing Row Number 76500 out of 83274 ---------
-------- Processing Row Number 76600 out of 83274 ---------
-------- Processing Row Number 76700 out of 83274 ---------
-------- Processing Row Number 76800 out of 83274 ---------
-------- Processing Row Number 76900 out of 83274 ---------
-------- Processing Row Number 77000 out of 83274 ---------
---- Round 77000 Save to CSV file
-------- Processing Row Number 77100 out of 83274 ---------
-------- Processing Row Number 77200 out of 83274 ---------
-------- Processing Row Number 77300 out of 83274 ---------
-------- Processing Row Number 77400 out of 83274 ---------
-------- Processing Row Number 77500 out of 83274 ---------
-------- Processing Row Number 77600 out of 83274 ---------
-------- Processing Row Number 77700 out of 83274 ---------
-------- Processing Row Number 77800 out of 83274 ---------
-------- Processing Row Number 77900 out of 83274 ---------
-------- Processing Row Number 78000 out of 83274 ---------

---- Round 78000 Save to CSV file
-------- Processing Row Number 78100 out of 83274 ---------
-------- Processing Row Number 78200 out of 83274 ---------
-------- Processing Row Number 78300 out of 83274 ---------
-------- Processing Row Number 78400 out of 83274 ---------
-------- Processing Row Number 78500 out of 83274 ---------
-------- Processing Row Number 78600 out of 83274 ---------
-------- Processing Row Number 78700 out of 83274 ---------
-------- Processing Row Number 78800 out of 83274 ---------
-------- Processing Row Number 78900 out of 83274 ---------
-------- Processing Row Number 79000 out of 83274 ---------
---- Round 79000 Save to CSV file
-------- Processing Row Number 79100 out of 83274 ---------
-------- Processing Row Number 79200 out of 83274 ---------
-------- Processing Row Number 79300 out of 83274 ---------
-------- Processing Row Number 79400 out of 83274 ---------
-------- Processing Row Number 79500 out of 83274 ---------
-------- Processing Row Number 79600 out of 83274 ---------
-------- Processing Row Number 79700 out of 83274 ---------
-------- Processing Row Number 79800 out of 83274 ---------
-------- Processing Row Number 79900 out of 83274 ---------
-------- Processing Row Number 80000 out of 83274 ---------
---- Round 80000 Save to CSV file
-------- Processing Row Number 80100 out of 83274 ---------
-------- Processing Row Number 80200 out of 83274 ---------
-------- Processing Row Number 80300 out of 83274 ---------
-------- Processing Row Number 80400 out of 83274 ---------
-------- Processing Row Number 80500 out of 83274 ---------
-------- Processing Row Number 80600 out of 83274 ---------
-------- Processing Row Number 80700 out of 83274 ---------
-------- Processing Row Number 80800 out of 83274 ---------
-------- Processing Row Number 80900 out of 83274 ---------
-------- Processing Row Number 81000 out of 83274 ---------
---- Round 81000 Save to CSV file
-------- Processing Row Number 81100 out of 83274 ---------
-------- Processing Row Number 81200 out of 83274 ---------
-------- Processing Row Number 81300 out of 83274 ---------
-------- Processing Row Number 81400 out of 83274 ---------
-------- Processing Row Number 81500 out of 83274 ---------
-------- Processing Row Number 81600 out of 83274 ---------
-------- Processing Row Number 81700 out of 83274 ---------
-------- Processing Row Number 81800 out of 83274 ---------
-------- Processing Row Number 81900 out of 83274 ---------
-------- Processing Row Number 82000 out of 83274 ---------
---- Round 82000 Save to CSV file
-------- Processing Row Number 82100 out of 83274 ---------
-------- Processing Row Number 82200 out of 83274 ---------
-------- Processing Row Number 82300 out of 83274 ---------
-------- Processing Row Number 82400 out of 83274 ---------
-------- Processing Row Number 82500 out of 83274 ---------
-------- Processing Row Number 82600 out of 83274 ---------
-------- Processing Row Number 82700 out of 83274 ---------
-------- Processing Row Number 82800 out of 83274 ---------
-------- Processing Row Number 82900 out of 83274 ---------
-------- Processing Row Number 83000 out of 83274 ---------
---- Round 83000 Save to CSV file
-------- Processing Row Number 83100 out of 83274 ---------
-------- Processing Row Number 83200 out of 83274 ---------

In [31]:
final.iloc[140:190,:]

,time,ft,m3,gage,ll_lon,ll_lat,tr_lon,tr_lat,swe_avg,swe_max
140,1985-02-18,191.0,5.408518,11402000,-121.157675,39.855478,-120.690823,40.049659,38.607514,449.0
141,1985-02-19,189.0,5.351884,11402000,-121.157675,39.855478,-120.690823,40.049659,39.922145,456.0
142,1985-02-20,190.0,5.380201,11402000,-121.157675,39.855478,-120.690823,40.049659,44.145301,474.0
143,1985-02-21,176.0,4.983765,11402000,-121.157675,39.855478,-120.690823,40.049659,51.167353,493.0
144,1985-02-22,172.0,4.870498,11402000,-121.157675,39.855478,-120.690823,40.049659,52.312490,494.0
145,1985-02-23,174.0,4.927131,11402000,-121.157675,39.855478,-120.690823,40.049659,54.186824,499.0
146,1985-02-24,176.0,4.983765,11402000,-121.157675,39.855478,-120.690823,40.049659,77.601087,581.0
147,1985-02-25,179.0,5.068716,11402000,-121.157675,39.855478,-120.690823,40.049659,87.283298,610.0
148,1985-02-26,177.0,5.012082,11402000,-121.157675,39.855478,-120.690823,40.049659,104.234827,645.0
149,1985-02-27,172.0,4.870498,11402000,-121.157675,39.855478,-120.690823,40.049659,130.844785,697.0
150,1985-02-28,166.0,4.700597,11402000,-121.157675,39.855478,-120.690823,40.049659,152.113857,752.0
151,1985-03-01,167.0,4.728913,11402000,-121.157675,39.855478,-120.690823,40.049659,153.598753,754.0
152,1985-03-02,179.0,5.068716,11402000,-121.157675,39.855478,-120.690823,40.049659,153.854973,755.0
153,1985-03-03,160.0,4.530695,11402000,-121.157675,39.855478,-120.690823,40.049659,154.983440,758.0
154,1985-03-04,160.0,4.530695,11402000,-121.157675,39.855478,-120.690823,40.049659,156.385236,761.0
155,1985-03-05,151.0,4.275844,11402000,-121.157675,39.855478,-120.690823,40.049659,159.831274,770.0
156,1985-03-06,155.0,4.389111,11402000,-121.157675,39.855478,-120.690823,40.049659,159.694129,770.0
157,1985-03-07,163.0,4.615646,11402000,-121.157675,39.855478,-120.690823,40.049659,160.106855,773.0
158,1985-03-08,150.0,4.247527,11402000,-121.157675,39.855478,-120.690823,40.049659,159.925908,773.0
159,1985-03-09,153.0,4.332478,11402000,-121.157675,39.855478,-120.690823,40.049659,159.560444,773.0
160,1985-03-10,180.0,5.097032,11402000,-121.157675,39.855478,-120.690823,40.049659,159.541165,773.0
161,1985-03-11,196.0,5.550102,11402000,-121.157675,39.855478,-120.690823,40.049659,161.687428,775.0
162,1985-03-12,204.0,5.776637,11402000,-121.157675,39.855478,-120.690823,40.049659,175.903773,820.0
163,1985-03-13,208.0,5.889904,11402000,-121.157675,39.855478,-120.690823,40.049659,181.596913,837.0
164,1985-03-14,205.0,5.804954,11402000,-121.157675,39.855478,-120.690823,40.049659,182.064948,837.0
165,1985-03-15,207.0,5.861587,11402000,-121.157675,39.855478,-120.690823,40.049659,183.414950,838.0
166,1985-03-16,208.0,5.889904,11402000,-121.157675,39.855478,-120.690823,40.049659,186.809029,844.0
167,1985-03-17,211.0,5.974855,11402000,-121.157675,39.855478,-120.690823,40.049659,204.030071,873.0
168,1985-03-18,246.0,6.965944,11402000,-121.157675,39.855478,-120.690823,40.049659,234.348465,916.0
169,1985-03-19,262.0,7.419014,11402000,-121.157675,39.855478,-120.690823,40.049659,238.530345,924.0
170,1985-03-20,257.0,7.277430,11402000,-121.157675,39.855478,-120.690823,40.049659,238.493739,925.0
171,1985-03-21,261.0,7.390697,11402000,-121.157675,39.855478,-120.690823,40.049659,238.450953,925.0
172,1985-03-22,234.0,6.626142,11402000,-121.157675,39.855478,-120.690823,40.049659,238.336382,924.0
173,1985-03-23,218.0,6.173073,11402000,-121.157675,39.855478,-120.690823,40.049659,238.188636,924.0
174,1985-03-24,337.0,9.542777,11402000,-121.157675,39.855478,-120.690823,40.049659,238.020212,924.0
175,1985-03-25,333.0,9.429510,11402000,-121.157675,39.855478,-120.690823,40.049659,237.810760,924.0
176,1985-03-26,290.0,8.211886,11402000,-121.157675,39.855478,-120.690823,40.049659,237.712473,924.0
177,1985-03-27,299.0,8.466737,11402000,-121.157675,39.855478,-120.690823,40.049659,237.752540,924.0
178,1985-03-28,268.0,7.588915,11402000,-121.157675,39.855478,-120.690823,40.049659,237.599275,924.0
179,1985-03-29,262.0,7.419014,11402000,-121.157675,39.855478,-120.690823,40.049659,237.448152,924.0
180,1985-03-30,276.0,7.815450,11402000,-121.157675,39.855478,-120.690823,40.049659,237.256742,924.0
181,1985-03-31,327.0,9.259609,11402000,-121.157675,39.855478,-120.690823,40.049659,237.091091,924.0
182,1985-04-01,434.0,12.289511,11402000,-121.157675,39.855478,-120.690823,40.049659,237.177432,924.0
183,1985-04-02,545.0,15.432681,11402000,-121.157675,39.855478,-120.690823,40.049659,237.075438,924.0
184,1985-04-03,630.0,17.839613,11402000,-121.157675,39.855478,-120.690823,40.049659,236.966002,924.0
185,1985-04-04,615.0,17.414861,11402000,-121.157675,39.855478,-120.690823,40.049659,236.945570,924.0
186,1985-04-05,607.0,17.188326,11402000,-121.157675,39.855478,-120.690823,40.049659,236.737189,924.0
187,1985-04-06,621.0,17.584762,11402000,-121.157675,39.855478,-120.690823,40.049659,236.518454,924.0
188,1985-04-07,616.0,17.443178,11402000,-121.157675,39.855478,-120.690823,40.049659,236.664195,924.0
189,1985-04-08,577.0,16.338820,11402000,-121.157675,39.855478,-120.690823,40.049659,237.398308,925.0

In [ ]:
#################################################################

In [34]:
gage = pd.read_csv('../gage_with_swe.csv')

In [36]:
gage.iloc[82019:82050,:]

,time,ft,m3,gage,ll_lon,ll_lat,tr_lon,tr_lat,swe_avg,swe_max
82019,2015-04-25,11.20,0.317149,11189500,-118.383732,35.728555,-118.003533,36.437843,11.725215,281.0
82020,2015-04-26,11.40,0.322812,11189500,-118.383732,35.728555,-118.003533,36.437843,11.505743,281.0
82021,2015-04-27,11.40,0.322812,11189500,-118.383732,35.728555,-118.003533,36.437843,11.189471,281.0
82022,2015-04-28,11.00,0.311485,11189500,-118.383732,35.728555,-118.003533,36.437843,10.844889,281.0
82023,2015-04-29,10.60,0.300159,11189500,-118.383732,35.728555,-118.003533,36.437843,11.201375,283.0
82024,2015-04-30,9.87,0.279487,11189500,-118.383732,35.728555,-118.003533,36.437843,11.543606,288.0
82025,2015-05-01,9.34,0.264479,11189500,-118.383732,35.728555,-118.003533,36.437843,11.360711,288.0
82026,2015-05-02,8.91,0.252303,11189500,-118.383732,35.728555,-118.003533,36.437843,11.263433,287.0
82027,2015-05-03,8.81,0.249471,11189500,-118.383732,35.728555,-118.003533,36.437843,11.187707,288.0
82028,2015-05-04,8.53,0.241543,11189500,-118.383732,35.728555,-118.003533,36.437843,10.983268,287.0
82029,2015-05-05,8.82,0.249755,11189500,-118.383732,35.728555,-118.003533,36.437843,10.670846,287.0
82030,2015-05-06,8.77,0.248339,11189500,-118.383732,35.728555,-118.003533,36.437843,10.296511,287.0
82031,2015-05-07,8.65,0.244941,11189500,-118.383732,35.728555,-118.003533,36.437843,9.934974,287.0
82032,2015-05-08,8.83,0.250038,11189500,-118.383732,35.728555,-118.003533,36.437843,9.563494,287.0
82033,2015-05-09,10.20,0.288832,11189500,-118.383732,35.728555,-118.003533,36.437843,9.224744,286.0
82034,2015-05-10,10.90,0.308654,11189500,-118.383732,35.728555,-118.003533,36.437843,11.496695,335.0
82035,2015-05-11,10.30,0.291664,11189500,-118.383732,35.728555,-118.003533,36.437843,12.697496,370.0
82036,2015-05-12,9.93,0.281186,11189500,-118.383732,35.728555,-118.003533,36.437843,12.882886,373.0
82037,2015-05-13,9.27,0.262497,11189500,-118.383732,35.728555,-118.003533,36.437843,12.679112,373.0
82038,2015-05-14,8.89,0.251737,11189500,-118.383732,35.728555,-118.003533,36.437843,12.491688,373.0
82039,2015-05-15,9.30,0.263347,11189500,-118.383732,35.728555,-118.003533,36.437843,12.289096,373.0
82040,2015-05-16,9.63,0.272691,11189500,-118.383732,35.728555,-118.003533,36.437843,12.002103,373.0
82041,2015-05-17,9.65,0.273258,11189500,-118.383732,35.728555,-118.003533,36.437843,11.654813,373.0
82042,2015-05-18,9.99,0.282885,11189500,-118.383732,35.728555,-118.003533,36.437843,11.308862,373.0
82043,2015-05-19,10.40,0.294495,11189500,-118.383732,35.728555,-118.003533,36.437843,10.966053,373.0
82044,2015-05-20,9.91,0.280620,11189500,-118.383732,35.728555,-118.003533,36.437843,10.662306,373.0
82045,2015-05-21,10.00,0.283168,11189500,-118.383732,35.728555,-118.003533,36.437843,10.380072,373.0
82046,2015-05-22,10.40,0.294495,11189500,-118.383732,35.728555,-118.003533,36.437843,10.077612,373.0
82047,2015-05-23,11.30,0.319980,11189500,-118.383732,35.728555,-118.003533,36.437843,9.781810,373.0
82048,2015-05-24,11.20,0.317149,11189500,-118.383732,35.728555,-118.003533,36.437843,9.535092,372.0
82049,2015-05-25,10.70,0.302990,11189500,-118.383732,35.728555,-118.003533,36.437843,11.441695,382.0

In [42]:
def extract_swe_day_and_data(row_time,date_format,prev_year,swe):
    '''
        Objective:
            1. Obtain the year of the interested date
            2. Obtain the day of the year
            3. Extracted SWE data of the same date from gage data
    
    '''
    ### Extract Date from Gage Data to match SWE
    d_date = datetime.strptime(row_time, date_format)
    # Extract year of date
    d_year = d_date.year
    # Extract number of days from SWE Data
    num_days = d_date- datetime.strptime('{}-1-1'.format(d_year),date_format)
    num_days = num_days.days

    ## Obtain swe data
    # if year of previous row does not match year of current row. Then Read Data
    print(prev_year)
    if prev_year != d_year: 
        swe = h5py.File(f'SN_SWE_WY{d_year}.h5', 'r')
#         lat = swe['lat'][0][::-1]
#         lon = swe['lon'][:,0]
#         lats,lons = np.meshgrid(lat,lon)
    prev_year = d_year

    # extract swe date
    swe_data = swe['SWE'][num_days]
    
    # flip over yaxis as lats are in a descending order --> need to change to ascending order
    swe_data_flip = swe_data[:,::-1]

    return swe_data_flip,prev_year,swe

In [43]:
# gage = pd.read_csv('../gage_swe.csv')
date_format = "%Y-%m-%d"
index_list = []
prev_year = 0

### Run through all data
for ii,row_num in enumerate(range(len(gage))):
    
    ### Start from row xx
    if ii >=0:
    
        if ii % 100 == 0:
            print(f'-------- Processing Row Number {ii} out of {len(gage)} ---------')

        ####
        # Start with each row
        row_data = gage.iloc[row_num,:]
        row_time = row_data['time']

        # NOTE: SWE has only data files from 1984 - 2016
        if 1984 < int(row_time[0:4]) <2017  : 
            
            ### Obtain Value of Interested Region
            ll_lon_idx,ll_lat_idx = index_finder(row_data['ll_lon'],row_data['ll_lat'])
            tr_lon_idx,tr_lat_idx = index_finder(row_data['tr_lon'],row_data['tr_lat'])
            
            # Obtain SWE data of Same Date
            swe_data,prev_year,swe = extract_swe_day_and_data(row_time,date_format,prev_year,swe)

            # get SWE values of surrounding region
            region = swe_data[ll_lon_idx:tr_lon_idx,ll_lat_idx:tr_lat_idx]

            # change -32768 (null values) to null
            region=region.astype('float')
            region[region == -32768] = np.nan

            ### Select way to process the region data into a single value or a k-dimension vector
            region_avg = np.nanmean(region)
            #########################

           # region avg is not null, assign the value with average
            gage.loc[row_num,'swe_avg'] = region_avg
    
        if ii % 1000 == 0: # save data to csv file every 1000 rows processed
            gage.to_csv('../gage_with_swe.csv',index=False)
            print(f'---- Round {ii} Save to CSV file')

-------- Processing Row Number 0 out of 83274 ---------
---- Round 0 Save to CSV file
0
before swe
1985
before swe

UnboundLocalError: local variable 'swe' referenced before assignment

In [28]:
# # save gage file to csv
# gage.to_csv('../gage_with_swe.csv',index=False)

In [67]:
gage.iloc[140:150,:]

,time,ft,m3,gage,ll_lon,ll_lat,tr_lon,tr_lat,swe_avg,swe_min,swe_max
140,1985-02-18,191.0,5.408518,11402000,-121.157675,39.855478,-120.690823,40.049659,0.103175,-1,-1
141,1985-02-19,189.0,5.351884,11402000,-121.157675,39.855478,-120.690823,40.049659,0.241555,-1,-1
142,1985-02-20,190.0,5.380201,11402000,-121.157675,39.855478,-120.690823,40.049659,0.543417,-1,-1
143,1985-02-21,176.0,4.983765,11402000,-121.157675,39.855478,-120.690823,40.049659,0.622480,-1,-1
144,1985-02-22,172.0,4.870498,11402000,-121.157675,39.855478,-120.690823,40.049659,0.772478,-1,-1
145,1985-02-23,174.0,4.927131,11402000,-121.157675,39.855478,-120.690823,40.049659,0.657742,-1,-1
146,1985-02-24,176.0,4.983765,11402000,-121.157675,39.855478,-120.690823,40.049659,0.533586,-1,-1
147,1985-02-25,179.0,5.068716,11402000,-121.157675,39.855478,-120.690823,40.049659,0.401851,-1,-1
148,1985-02-26,177.0,5.012082,11402000,-121.157675,39.855478,-120.690823,40.049659,0.270445,-1,-1
149,1985-02-27,172.0,4.870498,11402000,-121.157675,39.855478,-120.690823,40.049659,0.182897,-1,-1

In [ ]:
'''
## SWE value indication
Initial Assigned Value: -1
N/A value: -2
Rest are normal values
'''

In [ ]:
# ---------------------------